services:
  traefik-tunnel-expose:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: traefik-tunnel
    restart: ${RESTART_POLICY}
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - ${DATA_PATH}/ssl:/etc/traefik/ssl
      - ${DATA_PATH}/logs:/var/logs
      - /var/run/docker.sock:/var/run/docker.sock
